.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

nav {
  border-bottom: 1px solid white;
  width: 100vw;
  height: fit-content;
  top: 0;
  text-align: center;
  font-weight: 500;
  font-size: large;
  padding: 0.5em;
  margin-bottom: 5rem;
}

.main-container {
  border: 1px solid white;
  border-radius: 10px;
  width: 650px;
  height: fit-content;
  margin-bottom: 5rem;
}

.form-contianer {
  border-bottom: 2px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0 15px 0;
  margin: 10px;
  margin-bottom: 20px;
}

form > input {
  border: 2px solid grey;
  width: 80%;
  height: 40px;
  font-size: large;
  padding: 0 13px;
  outline: none;
  background-color: transparent;
  border-radius: 1rem;
}

.list-container {
  margin: 10px;
  height: fit-content;
  overflow: scroll;
}

.todo {
  border: 1px solid rgb(200, 194, 194);
  border-radius: 10px;
  margin: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo:hover {
  transform: scale(1.02);
  border-color: white;
}

.title {
  font-size: 1.2rem;
  width: 70%;
}
.options {
  display: flex;
}

.icon {
  margin: 3px 5px;
}
.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
