.app-container {
  border: 1px solid white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav {
  position: absolute;
  border: 1px solid red;
  width: 100vw;
  height: fit-content;
  top: 0;
  text-align: center;
  font-weight: 500;
  font-size: large;
  padding: 0.5em;
}

.main-container {
  border: 1px solid red;
  width: 600px;
  height: 650px;
  /* overflow: scroll; */
  /* background-color: yellow; */
}

.form-contianer {
  border: 1px solid yellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 10px; */
  margin: 10px;
  margin-bottom: 20px;
}

.form-contianer > input {
  width: 70%;
  height: 30px;
  /* margin: 10px; */
  outline: none;
}

.list-container {
  border: 1px solid cyan;
  margin: 10px;
  height: 85%;
  overflow: scroll;
}

.todo {
  border: 1px solid violet;
  margin: 10px;
  /* padding: 5px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo > p {
  /* line-height: 10px; */
  font-size: 1.2rem;
}
.options {
}

.icon{
  margin: 3px 5px;
  /* margin-right: 5px; */
}
.icon:hover{
  cursor: pointer;
 transform: scale(1.1);
}
#edit {
}
#del {
}
