.app-container{
  border: 1px solid white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}


nav{
  position: absolute;
  border: 1px solid red;
  width: 100vw;
  height: 30px;
  top: 0;
}
.main-container{
  width: 500px;
  height: 500px;
  background-color: yellow;
}